.favoritesAction {
  display: flex;
  align-items: center;
}

.favoritesControl {
  display: flex;
  align-items: center;
}

.favoriteIcon {
  display: inline-flex;
}

[data-theme="light"] .favoritesControl button:hover .favoriteIcon,
[data-theme="light"] .favoritesControl [aria-current="page"] .favoriteIcon {
  color: var(--color-favorite);
}
